<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>

<ol>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <a href=" <%= bookmark %>">
      <%= bookmark %>
    </a>
  </li>
  <% end %>
</ol>

<form action="/add_bookmark" get="post">
  <input type="submit" value="add">
</form>
